#ambition-wrapper {
  position: absolute;
  z-index: 400;
  top: 100vh;

  #ambition-container {
    position: relative;
    height: 700vh;

    #ambition-header {
      position: sticky;
      top: 0;
      left: 0;
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80vh;
      color: $dark;

      h1 {
        margin: 0;
        padding-top: 20vh;
      }
    }

    #ambition-cards {
      position: absolute;
      top: 180vh;
      width: 100%;
      height: 100vh;

      .ambition-card {
        position: absolute;
        top: 0;
        width: 100%;
        height: 80vh;
        padding-top: 20vh;
        visibility: hidden;

        .ambition-card-text {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          box-sizing: border-box;
          width: 50%;
          height: 60vh;

          h2 {
            font-size: 2rem;
          }

          p {
            font-size: 1.25rem;
          }
        }

        .ambition-card-img {
          position: absolute;
          width: 100%;
          height: 60vh;
          background-size: auto 100%;
        }

        &:nth-of-type(1) {
          .ambition-card-img {
            background: url(../assets/images/hci.png) no-repeat;
            background-size: contain;
            background-position: 0 0;
          }
        }

        &:nth-of-type(2) {
          .ambition-card-img {
            background: url(../assets/images/imd.jpg) no-repeat;
            background-size: contain;
            background-position: 100% 0;
          }
        }

        &:nth-of-type(3) {
          .ambition-card-img {
            background: url(../assets/images/vpl.png) no-repeat;
            background-size: contain;
            background-position: 0 0;
          }
        }

        &:nth-of-type(4) {
          .ambition-card-img {
            background: url(../assets/images/phy.png) no-repeat;
            background-size: contain;
            background-position: 100% 0;
          }
        }

        &:nth-of-type(5) {
          .ambition-card-img {
            background: url(../assets/images/ptl.jpg) no-repeat;
            background-size: contain;
            background-position: 0 0;
          }
        }

        &:nth-of-type(odd) {
          .ambition-card-text {
            right: 50%;
            padding-right: 2rem;
          }

          .ambition-card-img {
            left: 50%;
          }
        }

        &:nth-of-type(even) {
          .ambition-card-text {
            left: 50%;
            padding-left: 2rem;
          }

          .ambition-card-img {
            right: 50%;
          }
        }
      }
    }
  }
}
