#exploration-wrapper {
  position: absolute;
  top: 820vh;
  display: flex;
  flex-direction: column;
  height: 700vh;

  #exploration-header {
    position: sticky;
    top: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;

    h1 {
      margin: 0;
      padding-bottom: 20vh;
    }
  }

  .exploration-card {
    position: sticky;
    top: 0;
    height: 100vh;
    background: lightblue;

    .exploration-card-body {
      position: relative;
      height: 100%;

      .exploration-card-text {
        width: 50%;
        padding: 20% 0;
        font-size: 1.25rem;
      }
    }

    .exploration-card-img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background: green;
    }
  }
}
