#programming-wrapper {
  position: absolute;
  z-index: 300;
  top: 1400vh;
  height: 800vh;

  #programming-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #programming-container {
    position: sticky;
    top: 0;
    height: 100vh;

    #programming-header {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: inherit;

      h1 {
        color: $light;
      }
    }

    #programming-cards {
      position: absolute;
      left: 50%;
      width: 50%;
      height: inherit;

      .programming-card {
        position: absolute;
        top: 65%;
        transform: translateY(-50%);

        .programming-card-text {
          p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5;
            color: $light;
          }
        }
      }
    }
  }

  #programming-tools {
    position: absolute;
    z-index: 500;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: inherit;

      h1 {
        font-size: 2rem;
        text-align: center;
      }

      #programming-tools-list {
        max-width: 38.5rem;

        &::after {
          content: '';
          display: table;
          clear: both;
        }

        .programming-tool {
          float: left;
          width: 4.5rem;
          height: 4.5rem;
          margin: 0.5rem;
          -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
          background: #686de0a0;
        }
      }
    }
  }
}
