/*
  1680 cap
  908+ > 80 = 1068 * 3
  616+ > 60 = 736 * 2
  474+ > 30
  .... linear
  320+ > 20

  1520 - 1398 - 1276 - 1154 - 1032 - 910
   909 -  763 - 616
   615 -  474
   473 -  320
 */

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 1520px;
  width: calc(100% - 160px);
  margin: 0 80px;

  @media only screen and (min-width: 736px) and (max-width: 1069px) {
    width: calc(100% - 120px);
    margin: 0 60px;
  }

  @media only screen and (min-width: 534px) and (max-width: 735px) {
    width: calc(100% - 60px);
    margin: 0 30px;
  }

  @media only screen and (max-width: 533px) {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
}
