@import './colors';
@import './container';

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 3000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: $dark;
  font-family: 'Poppins', sans-serif;

  .dark {
    background: $dark;
  }

  .light {
    background: $light;
  }

  @import './partials/intro';
}
