<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anindya Kundu - Portfolio</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="intro-wrapper" class="wrapper dark">
      <div id="intro-container" class="container">
        <div id="intro-video">
          <video autoplay loop>
            <source src="../assets/videos/banner-main-underlay.mp4" type="video/mp4" />
          </video>
        </div>
        <div id="intro-info">
          <div id="intro-photo-wrapper">
            <div id="intro-photo"></div>
          </div>
          <div id="intro-name-wrapper">
            <h1 id="intro-name">Anindya Kundu</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
