<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anindya Kundu - Portfolio</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="banner-wrapper" class="wrapper dark">
      <div id="banner-container" class="container">
        <div id="banner-primary">
          <video autoplay loop>
            <source src="../assets/videos/banner-main-underlay.mp4" type="video/mp4" />
          </video>
        </div>
        <div id="banner-secondary">
          <div id="photo-card">
            <div id="photo"></div>
          </div>
          <div id="info-card">
            <h1>Anindya Kundu</h1>
            <p>
              A final year undergraduate, pursuing BTech in Information Technology from a public
              engineering institution in India. I am a tech enthusiast, interested in Interactive
              Media and Virtual Reality.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
