<div id="ambition-wrapper" class="wrapper light">
  <div id="ambition-container" class="container">
    <div id="ambition-header">
      <h1>About the things I'm ambitious about</h1>
    </div>
    <div id="ambition-cards">
      <div class="ambition-card">
        <div class="ambition-card-text">
          <h2>Human-Computer Interface</h2>
          <p>
            I believe that computers are made for humans, and we, humans, shouldn't have to think
            like computers.
          </p>
          <p>
            I want to work on the next generation of IO devices where interaction is natural, fast,
            and responsive.
          </p>
        </div>
        <div class="ambition-card-img"></div>
      </div>
      <div class="ambition-card">
        <div class="ambition-card-text">
          <h2>Interactive Multimedia</h2>
          <p>
            Back in my school days, I discovered 3D modelling and I built models of houses and
            designed the interiors of them.
          </p>
          <p>
            I did that over other things because orbitting around the models felt so live, kind of
            like a virtual reality.
          </p>
        </div>
        <div class="ambition-card-img"></div>
      </div>
      <div class="ambition-card">
        <div class="ambition-card-text">
          <h2>Visual Programming</h2>
          <p>I don't believe that words are the basic school of thought.</p>
          <p>
            I want to push spacial aspects of thinking over verbal ones, and I wish to discover a
            newer dimension of expression.
          </p>
        </div>
        <div class="ambition-card-img"></div>
      </div>
      <div class="ambition-card">
        <div class="ambition-card-text">
          <h2>Physics Engine</h2>
          <p>
            I have always been interested in mechanics and geometry, and was good at 'em in school.
            We interact with objects that follow the laws of physics.
          </p>
          <p>
            I want to join the quest of simulating the laws of physics for our virtual realities of
            the 21st century.
          </p>
        </div>
        <div class="ambition-card-img"></div>
      </div>
      <div class="ambition-card">
        <div class="ambition-card-text">
          <h2>Pedagogy Tools</h2>
          <p>
            We have made 'crazy' progress in science and technology, but somehow our classrooms
            haven't changed much since the 1800s.
          </p>
          <p>
            I want to push towards a radical improvement in education tools that could make
            education more connective and efficient.
          </p>
        </div>
        <div class="ambition-card-img"></div>
      </div>
    </div>
  </div>
</div>
