<div id="exploration-wrapper" class="wrapper">
  <div id="exploration-header">
    <h1>And my quest lately</h1>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          I've been working on an open-source project called Music Blocks, since February, 2020.
          Music Blocks is a Visual Programming Language for creation of music and art, using
          concepts of mathematics and programming.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          Recently, I've been leading the development of the second generation of the application
          &mdash; Music Blocks 2.0 to employ a robust, modular architecture, with better interaction
          design and newer features.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          For quite some time, I've been exploring "Media Art" and "Creative Coding" in an attempt
          to discover newer patterns and designs in nature.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          This has been feeding my hunger for geometrical shapes, motifs, and tesellations. And, it
          has been educating me in discovering interesting applications of mathematical constructs.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          One of my hobbies has been to experiment in creative ideas with mathematical equations and
          programming tools. I've created several art pieces with just mathematical curves.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
  <div class="exploration-card">
    <div class="exploration-card-body container">
      <div class="exploration-card-text">
        <p>
          I discovered some very interesting UI tools &mdash; <i>Processing</i>, <i>p5</i>,
          <i>matter.js</i>, <i>liquidfun</i>, etc. And, it has been very absorbing to create cool
          projects. I'm planning an application to simulate dynamics for high school physics.
        </p>
      </div>
    </div>
    <div class="exploration-card-img"></div>
  </div>
</div>
