<div id="footer-wrapper">
  <footer>
    <div id="footer-acrylic" class="acrylic"></div>
    <div class="container">
      <h1>Find me on</h1>
      <div id="social-links">
        <a href="https://github.com/meganindya" target="_blank">
          <div class="social-link"><div class="github"></div></div>
        </a>
        <a href="https://www.linkedin.com/in/meganindya/" target="_blank">
          <div class="social-link"><div class="linkedin"></div></div
        ></a>
        <a href="https://www.facebook.com/anindya.k22/" target="_blank">
          <div class="social-link"><div class="facebook"></div></div
        ></a>
        <a href="mailto:anindyaak007@gmail.com" target="_blank">
          <div class="social-link"><div class="gmail"></div></div
        ></a>
      </div>
    </div>
  </footer>
</div>
