<div id="programming-wrapper" class="wrapper dark">
  <div id="programming-body">
    <div class="container">
      <div id="programming-header">
        <h1>Into programming</h1>
      </div>
      <div id="programming-cards">
        <div class="programming-card">
          <div class="programming-card-text">
            <p>
              I got into programming at 11, with Visual Basic. It took me several attempts at
              learning it enough by eavesdropping older people's classes (that was the only resource
              I had back then) to build a barebone GUI calculator application.
            </p>
          </div>
        </div>
        <div class="programming-card">
          <div class="programming-card-text">
            <p>
              I started learning Java in school since I was in the 8th grade, and kept writing
              school level Java programs until the end of school at 18.
            </p>
          </div>
        </div>
        <div class="programming-card">
          <div class="programming-card-text">
            <p>
              In grade 11 and 12, our computer teacher used to give a few of us separate class
              assignment questions than the others. Those were really challenging for us back then.
              Learnt about some standard Data Structures and Algorithms there.
            </p>
          </div>
        </div>
        <div class="programming-card">
          <div class="programming-card-text">
            <p>
              I wasn't particularly interested in solving abstract programming questions to run in a
              black & white terminal window. I wanted to build applications people could interact
              with.
            </p>
          </div>
        </div>
        <div class="programming-card">
          <div class="programming-card-text">
            <p>
              In the pursuit of building applications, I taught myself quite a few programming
              languages and tools. Over the years I've written some good amount of code in those, to
              build actual projects.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="programming-backgrounds">
      <div class="programming-background"><div class="acrylic"></div></div>
      <div class="programming-background"><div class="acrylic"></div></div>
      <div class="programming-background"><div class="acrylic"></div></div>
      <div class="programming-background"><div class="acrylic"></div></div>
      <div class="programming-background"><div class="acrylic"></div></div>
    </div>
  </div>
  <div id="programming-tools" class="acrylic">
    <div class="container">
      <h1>What I've had my hands on</h1>
      <div id="programming-tools-list">
        <div class="programming-tool acrylic"><div class="js"></div></div>
        <div class="programming-tool acrylic"><div class="ts"></div></div>
        <div class="programming-tool acrylic"><div class="java"></div></div>
        <div class="programming-tool acrylic"><div class="c"></div></div>
        <div class="programming-tool acrylic"><div class="cpp"></div></div>
        <div class="programming-tool acrylic"><div class="python"></div></div>
        <div class="programming-tool acrylic"><div class="php"></div></div>
        <div class="programming-tool acrylic"><div class="html"></div></div>
        <div class="programming-tool acrylic"><div class="css"></div></div>
        <div class="programming-tool acrylic"><div class="react"></div></div>
        <div class="programming-tool acrylic"><div class="angular"></div></div>
        <div class="programming-tool acrylic"><div class="jquery"></div></div>
        <div class="programming-tool acrylic"><div class="bootstrap"></div></div>
        <div class="programming-tool acrylic"><div class="ejs"></div></div>
        <div class="programming-tool acrylic"><div class="scss"></div></div>
        <div class="programming-tool acrylic"><div class="webpack"></div></div>
        <div class="programming-tool acrylic"><div class="gulp"></div></div>
        <div class="programming-tool acrylic"><div class="graphql"></div></div>
        <div class="programming-tool acrylic"><div class="jest"></div></div>
        <div class="programming-tool acrylic"><div class="mocha"></div></div>
        <div class="programming-tool acrylic"><div class="pwa"></div></div>
      </div>
    </div>
  </div>
</div>
