<div id="projects-wrapper" class="light">
  <div id="projects-header" class="container">
    <h1>And a few of my endeavours</h1>
  </div>
  <div id="projects-container" class="container">
    <div id="project-cards">
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>Designed the website of a conference &mdash; ICMC 2021</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>Developed a Library Management System as a course project</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>Built an image-processing shortest path finder</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>A game of Sudoku</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>And Minesweeper</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>Snakes & Ladders too</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>An expenditure tracker</p>
        </div>
      </div>
      <div class="project-card">
        <div class="project-hero">
          <div class="project-img"></div>
        </div>
        <div class="project-label">
          <p>And a learning audio-visual learning tool for toddlers</p>
        </div>
      </div>
    </div>
  </div>
</div>
