:root {
  --c-fg-default: #24292f;
  --c-fg-muted: #57606a;
  --c-fg-subtle: #6e7781;
  --c-bg-default: #ffffff;
  --c-bg-subtle: #f6f8fa;
  --c-border-default: #d0d7de;
  --c-border-muted: hsla(210, 18%, 87%, 1);
  --c-neutral-muted: rgba(175, 184, 193, 0.2);
  --c-accent-fg: #0969da;
  --c-accent-emphasis: #0969da;
  --c-attention-subtle: #fff8c5;
  --c-danger-fg: #cf222e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-fg-default: #c9d1d9;
    --c-fg-muted: #8b949e;
    --c-fg-subtle: #484f58;
    --c-bg-default: #0d1117;
    --c-bg-subtle: #161b22;
    --c-border-default: #30363d;
    --c-border-muted: #21262d;
    --c-neutral-muted: rgba(110, 118, 129, 0.4);
    --c-accent-fg: #58a6ff;
    --c-accent-emphasis: #1f6feb;
    --c-attention-subtle: rgba(187, 128, 9, 0.15);
    --c-danger-fg: #f85149;
  }
}
